* {
    margin: 0;
    padding: 0;
}

.userPrf {
    padding: 15px;
}

.userPrf-prf {
    cursor: pointer;
    user-select: none;
}

.userprfname {
    user-select: none;
}

.profdet-li {
    list-style: none;
    float: left;
    color: #444;
    padding: 0 15px;
}

.profdet-li-selected {
    list-style: none;
    float: left;
    background-color: #fbe9e9;
    padding: 0 15px;
}

.li-link-selected {
    color: #FF4949;
    cursor: pointer;
    user-select: none;
}

.li-link-selected:hover {
    color: #FF4949;
}

.li-link {
    color: #444;
    cursor: pointer;
    user-select: none;
}

.li-link:hover {
    color: #444;
}


